body,ul,ol,li,dt,dl,dd,h1,h2,h3,h4,h5,h6,p,form,input,table,th,td{
    margin: 0;
    padding:0;
    list-style: none;
}
a,em{
    font-style: normal;
    text-decoration: none;
}
img{
    border: none;
}
body{

    color:#706f6f;
    font:12px "ו",Arial,Helvetica,sans-serif;
}